@model ElevenNote.Models.NoteDetail

@{
    ViewBag.Title = "ElevenNote / Details";
}

<h2>
    @Html.DisplayFor(model => model.Title)
</h2>

<div>
    <h3 style="font-size: smaller">
        Created on @Html.DisplayFor(model => model.CreatedUtc)
    </h3>

    <h3 style="font-size: smaller">
        Last modified on @Html.DisplayFor(model => model.ModifiedUtc)
    </h3>

    @Html.TextAreaFor(model => model.Content, new { @readonly = "readonly" })

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }) /
    @Html.ActionLink("Back to List", "Index")
</p>
